*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
img{
    width: 100px;
    padding: 10px ;
}
.background-le{
    background-color: #33a389;
    /* background-color: #1d7874; */
    cursor: pointer;
}
.bacground-chan{
    /* background-color:#679289  ; */
    background-color:#b0c5c1  ;
    cursor: pointer;
}
.background-le:hover{
    background-color: rgb(174, 177, 160);
    cursor: pointer;
}
.bacground-chan:hover{
    background-color: rgb(169, 169, 86);
    cursor: pointer;
}
table{
    width: 60%;
    text-align: center;
    margin: auto;
}
Caption{
    padding: 20pX 0;
    font-weight: 700;
    font-size: 30px;
}
th{
    background-color: #b2dbbf;
    padding: 20px 0;
    color:rgb(0, 75, 226);
}
a{
    text-decoration: none;

}
a:hover{
    opacity: 0.6;
}
a{
    padding: 10px 15px;
    text-decoration: none;
    background-color: rgb(221, 234, 143);
    border-radius: 20px;

}
.delete,
.update{
    width: 110px;
}